.logo{
    max-width: 93px;
    margin-right: 10px;
}
.button {
    overflow: hidden;
    background-color: lightgrey;
  }
  
  .button a {
    float: left;
    font-size: 22px;
    font-family: Open Sans Condensed;
    font-style: bold;
    color: black;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
  }
  
  .button a:hover {
    background-color:orange;
    border-radius: 5px;
    padding:12px;
  }

  @media screen and (max-width: 558px) {
   .home{
     /* display:none; */
   }
  .button{
    font-size: 15px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .button a{
    font-size: 15px;
    padding:5px 12px;
  }
}
/* .info1{
  padding: 8px;
  margin:5px;
} */