.cont-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.sociall-icons {
  padding: 3px;
}

.f {
margin-top: 1rem;
position: relative;
margin-bottom: 0;
left: 0;
width: 100%;
}

.follow-icon {
  /* padding: 8px; */
  color: white;
  font-size: 25px;
}
.foot-img-div {
  margin: 20px auto;
}
.links-div {
  /* margin: 50px; */
  /* padding: 30px; */
  width:100%;
  /* margin-left: 10px; */
  margin-top:50px;
  
}
.linkk {
  color: white;
}

.imgg {
  width: 200px;
  height: 200px;
}
.f-ul {
  list-style-type: none;
}
.re-link {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.re-link:hover {
  text-decoration: underline;
}

.f-ul li {
  margin: 10px auto;
}

.copy-cont {
  color: white;
  margin: 0 auto;
  margin-top: 50px;
  text-align: justify;
}

a{
text-decoration: none;
}

@media screen and (max-width: 600px) {
  .cont-div, .links-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
.sociall-icons {
/* position: absolute; */
/* margin-top: 500px; */
/* left: 2px !important; */
/* transform: translate(-50%, -50%); */
/* z-index: 3; */
display: grid;
padding: 3px;
grid-template-columns: 2fr 1fr;
}
.sociall-icons a{
width: 35px !important;
height: 40px !important;
}
}

@media screen and (max-width: 700px) {
  .copy-cont p {
    text-align: justify;
  }
  .imgg{
    width:150px;
    height:150px;
  }
  .copy-cont, .links-div{
    margin:4%;
  }
}

@media screen and (max-width: 500px) {

.sociall-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3px;

}
.sociall-icons a{
  width: 20px;
  height: 15px;
}
}


.sociall-icons {
  /* position: absolute; */
  /* margin-top: 500px; */
  /* left: 67%; */
  /* transform: translate(-50%, -50%); */
  /* z-index: 3; */
  display: flex;
}
.sociall-icons a {
  position: relative;
  /* display: block; */
  width: 40px;
  height: 45px;
  /* line-height: 50px; */
  text-align: center;
  background:lightgrey;
  font-size: 23px;
  color: #333;
  font-weight: bold;
  margin: 2px 2px;
}


.sociall-icons a:hover {
  transition: 0.2s;
}

.sociall-icons a:hover .fab {
  color: #fff;
}

.sociall-icons a .fab {
  transition: 0.8s;
}

.sociall-icons a .fab:hover {
  transform: rotateY(360deg);
  color: #fff;
}