.testimonial .slick-arrow.slick-prev,
.testimonial .slick-arrow.slick-next {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 5px;
}
.testimonial .slick-prev::before,
.testimonial .slick-next::before {
  display: none;
}

.testimonial .slick-arrow.slick-next {
  right: -70px;
}
.testimonial .slick-arrow.slick-prev {
  left: -70px;
}
.testimonial .slick-dots li button:before {
  font-size: 15px;
}
.testimonial .slick-dots li {
  top: -70px;
}

.card-component .name{
  font-size:25px;
  font-weight: 600; 
  color: #2D3436
}

.card-component .city{
  font-size:20px;
  font-weight:300;
  color:#636E72
}
.card-component .description{
  font-size:18px;
  font-weight:300;
  color:#636E72
}

.heading-1{
  margin-top:30;
  margin-bottom: 20;
  color:#555555;
  text-align: center;
}

@media only screen and (max-width: 934px){
  .testimonial .slick-arrow.slick-next {
    right: -50px;
  }
  .testimonial .slick-arrow.slick-prev {
    left: -50px;
  }
  .testimonial .slick-dots li button:before {
    font-size: 0px;
  }
  
  .card-component .name{
    font-size:23px;
    font-weight: 600; 
    color: #2D3436
  }
  
  .card-component .city{
    font-size:18px;
    font-weight:300;
    color:#636E72
  }
  .card-component .description{
    font-size:18px;
    font-weight:200;
    color:#636E72
  }
  .heading-1{
    margin-top:30;
    margin-bottom: 20;
    color:#555555;
    text-align: left;
  }
 
}